* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containergrid{
    width: 80vw;
    max: width 1400px; 
    margin: 0 auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

header {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 3rem  1rem ;
  
}

nav a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
}

nav .btn {
  background-color: orange;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 20px;
}

.banner {
  background-color: orange;
  text-align: center;
  padding: 2rem;
  position: relative;
}

.banner .dog-main {
  width: 200px;
  border-radius: 20px;
}

.cta {
  margin-top: 1rem;
}

.pattern {
  height: 40px;
  background-image: url('pattern.png');
  background-repeat: repeat-x;
  width: 100px;
}

.about, .services, .team, .contact {
  padding: 2rem;
  text-align: center;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.about img {
  width: 150px;
  border-radius: 20px;
}

.service-boxes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.box {
  background: #fff8e1;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 200px;
}

.team img {
  width: 200px;
  border-radius: 20px;
  margin-top: 1rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
  margin: 0 auto;
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

form button {
  background: orange;
  border: none;
  padding: 0.7rem;
  border-radius: 15px;
  cursor: pointer;
}

footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 6rem 2rem;
  font-size: 2rem;
}

header img{
    height:100px;
}

header .containergrid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}